#include <winver.h>

1 VERSIONINFO
 FILEVERSION 9,8,7,6
 PRODUCTVERSION 9,8,7,6
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "ProductVersion", "9.8.7.6\0"
            VALUE "SlicerVersion", "2.7.63.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
